.nav-active{
    background-color: rgb(74, 61, 85)
}

body{
    background: black;
    color: rgb(219, 219, 219)
}
header{
    text-align: center;
}
#collegeLogo{
    margin: 5px 0px 0px 5px;
}

.min-ht{
    max-height: 70px;
}

h1{
    text-align: center;
    margin: 10px;
}

nav{
    margin-top: 10px;
    background: rgb(31, 21, 40);
    min-height: 30px;
    overflow: hidden;
    text-align: center;
    width: 106%;
}

nav div{
    margin-left: 10px;
}

nav img{
    margin-top: 4px;
    max-height: 50px;
}

nav a{
    text-emphasis: none;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px;
    padding: 20px 7px;
    color: rgba(255,255,255, 0.7);
}

nav a:hover{
    color: rgba(255,255,255, 1);
}

footer{
    background: rgb(58, 58, 58);
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    text-align: center;
}

#address{
    margin-left: 10px;
}
#contact p{
    margin:0;   
}

#contact a{
    text-decoration: none;
    color: white
}

@media only screen and (min-width: 800px) {
    #collegeLogo{
        margin-left:100px;
        max-height:100px;
    }
    nav{
        text-align: start
    }

    nav div.col-2{
        text-align: center;
    }
}
