body{
    background: black;
    color: rgb(219, 219, 219)
}

#teamLogo{
    margin-left:5px;
}

.min-ht{
    max-height: 70px;
}

h1{
    text-align: center;
    margin: 10px;
}

nav{
    margin-top: 10px;
    background: #1F1528;
    min-height: 30px;
    overflow: hidden;
    text-align: center;
    width: 106%;
}

nav div{
    margin-left: 10px;
}

nav img{
    margin-top: 4px;
    max-height: 50px;
}

nav a{
    text-emphasis: none;
    text-decoration: none;
    display: inline-block;
    margin: 17px 5px;
    padding: 3px 3px;
    color: rgba(255,255,255, 0.7);
}

nav a:hover{
    color: rgba(255,255,255, 1);
}

footer{
    background: rgb(58, 58, 58);
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    text-align: center;
}

#address{
    margin-left: 10px;
}
#contact p{
    margin:0;   
}

@media screen and(min-width:383){

}